<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arealbreakfast.smashtools">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/captainfalconicon2"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/captainfalconicon2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SmashFourIronMan" />
        <activity android:name=".MeleeIronMan" />
        <activity android:name=".Exclude" />
        <activity android:name=".Results" />
        <activity android:name=".ProjectMIronMan" />
        <activity android:name=".BrawlIronMan"></activity>
    </application>

</manifest>